<div>
    <div class="title-banner">ABOUT</div>
    <div class="contact-content">
        <h1 class="name">Tristan Jerome S. Apalla</h1>
        <br>
        <hr>
        <br>
        <h3 class="details">BS Computer Science - 4</h3>
        <h3 class="details">University of Saint Louis - Tuguegarao</h3>
        <br>
        <br>
        <h3 class="contact">Almasiga Street, Imelda Bliss Village</h3>
        <h3 class="contact">City of Ilagan, Isabela</h3>
        <br>
        <br>
        <h3 class="contact">09268778273</h3>
        <h3 class="contact">jerome15apalla@gmail.com</h3>
    </div>
</div>