.footer{
    color: #80CBC4;
    background-color: #00695C;
    padding: 2% 5% 2% 5%;
    margin-top: 5%;
    justify-content: space-between;
    display: flex;
}
.footer-details{
    margin: 0;
}
.angular{
    text-align: right;
}
.outline{
    content: "";
    background-color: #263238;
    height: 5%;
}
h3{
    font-family: courier;
    font-size: 1vw;
    margin: 0;
}