<div>
    <div class="home-content">
        <img class="initial-img" src="../../assets/R.jpg">
        <div class="initial-page">
            <h1>Hi, Im Jerome</h1>
            <h3>BS Computer Science -4</h3>
            <h5>
                Currently a graduating computer science student 
                eager to join an innovative company, where I can 
                apply my knowledge and skills in the tech industry
                and gain experience in a work environment.
            </h5>
            <br>
            <a class="more" href="#gallery"><button class="initial-button">more ></button></a>
        </div>
        <section id="gallery">
            <div>
                <div class="gallery-title">GALLERY</div>
                <img class="gallery-img" src="../../assets/g1.jpg">
                <img class="gallery-img" src="../../assets/g2.jpg">
                <img class="gallery-img" src="../../assets/g3.jpg">
            </div>
        </section>
        
        <div class="experience">
            <h1>Web Developer Intern</h1>
            <h3>Taktyl Studios</h3>
            <h3>June - August 2022</h3>
            <h4>
                Worked as a Front-End Web Developer on a mentoring website for
                three (3) months using React js to build and design the user 
                interface of the website. I also handled a little bit of the 
                API handling using STRAPI a headless-CMS in the website as well 
                as developing the core functionalities in handling the scheduling.
            </h4>
        </div>
        <div>
            <div class="git-title-banner">
                <img class="git-logo" src="../../assets/git.png">
                <div class="git-banner-title">Git HUB</div>
            </div>
            <div class="git-content">
                <a target="_blank" href="https://github.com/jerome15apalla/">
                    https://github.com/jerome15apalla/
                </a>
                <p>jerome15apalla</p>
            </div>
        </div>
    </div>
</div>