<div>
    <div class="title-banner">PROJECTS</div>
    <div class="project-content">
        <a>
            <div class="card">
                <div class="card-cover"><img class="card-img" src="../../assets/project1.png"></div>
                <div class="card-title">Bible Application</div>
                <div class="card-details">
                    This is a cross-platform application on both the web and mobile.
                    This application has list of the chapters and verses from the
                    book of John with a search functionality on chapters and verses.
                </div>
            </div>
        </a>
        <a>
            <div class="card">
                <div class="card-cover"><img class="card-img" src="../../assets/project2.png"></div>
                <div class="card-title">Student Registration Form</div>
                <div class="card-details">
                    This is a Website where student can register their courses and
                    monitor the schedule and details about the course that they are
                    registered in. This is build using HTML5, Bootstrap and PHP.
                </div>
            </div>
        </a>
        <a>
            <div class="card">
                <div class="card-cover"><img class="card-img" src="../../assets/project3.png"></div>
                <div class="card-title">Election Voting Website</div>
                <div class="card-details">
                    This is a mock voting website for the 2023 Philippine Elections.
                    This website lists the running presidents, vice presidents and
                    senators as this website simulates the comelec voting.
                </div>
            </div>
        </a>
        <a>
            <div class="card">
                <div class="card-cover"><img class="card-img" src="../../assets/project4.png"></div>
                <div class="card-title">Automatic Plate Number Verification System</div>
                <div class="card-details">
                    This system automatically detects the plate number of vehicles
                    entering the parking area and identifies whether it is registered
                    as an authorized vehicle to park and logs all entry and exit.
                </div>
            </div>
        </a>
    </div>
</div>